@model ML.Vuelos

@{
    ViewData["Title"] = "GetAll";
}

<style>
    body {
        background-color: #d6eafa; /* Color de fondo deseado */
    }

    h2 {
        text-align: center;
    }
</style>

<h1 style="text-align:center">Registro de vuelos</h1>

<table class="table table- table-hover table-bordered border border-primary  border-3">

    <thead class="table-secondary">
        <tr class="text-center">
            <th></th>
            <th>Numero de vuelo</th>
            <th>Destino</th>
            <th>Origen</th>
            <th>Hora de salida</th>
            <th>Hora de llegada</th>
            <th>Aerolinea</th>
        </tr>
    </thead>
    <tbody>

         @foreach (ML.Vuelos vuelos in Model.ListVuelos)
        {

            <tr class="text-center">
                <td>
                    <a class="btn btn-secondary" style="background-color: #FFFFFF;" href="@Url.Action("Form", "Vuelos" , new { id_Vuelo = vuelos.Id_Vuelo}) "> <img src="~/Imagen/editar.png" alt="Eliminar" style="width: 30px; height: 30px;" /></a>
                </td>
                <td>@vuelos.Numero_Vuelo</td>
                <td>@vuelos.Origen</td>
                <td>@vuelos.Destino</td>
                <td>@vuelos.Hora_Salida</td>
                <td>@vuelos.Hora_LLegada</td>
                <td>@vuelos.aerolinia.Id_Aerolinia, @vuelos.aerolinia.AerolineaNombre</td>

                <td>
                    <a class="btn btn-primary" style="background-color: #FFFFFF;" onclick="return confirm('¿Estás seguro de que deseas eliminar este transporte?');"
                       href="@Url.Action("Delete", "Vuelos", new { id_Vuelo = vuelos.Id_Vuelo})"><img src="~/Imagen/eliminar.png" alt="Eliminar" style="width: 30px; height: 30px;" /></a>

                </td>
            </tr>
        }

    </tbody>
</table>
<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("Form", "Vuelos")" class="btn btn-primary float-right">Agregar</a>
    </div>
</div>